@model List<DateTime>
@{
    ViewData["Title"] = "Zatwierdzone harmonogramy";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Akcja</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var date in Model)
        {
            <tr>
                <td>@date.ToString("yyyy-MM-dd")</td>
                <td>
                    <a asp-action="FinalizedSchedules" asp-route-date="@date" class="btn btn-sm btn-primary">Pokaż</a>
                    <form asp-action="DeleteScheduleGroup" asp-route-date="@date" method="post" class="d-inline">
                        <button type="submit" class="btn btn-sm btn-danger">Usuń</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
