@{
    ViewData["Title"] = "Harmonogram";
}

<h2>Generowanie Harmonogramu</h2>

<form asp-controller="Schedule" asp-action="Generate" method="post">
    <button type="submit" class="btn btn-primary">Generuj harmonogram</button>
</form>
