@model ShiftSchedulerMVC.Models.ShiftRequirementInput

@{
    ViewData["Title"] = "Ustawienia zmian";
    var countOptions = Enumerable.Range(0, 3).ToList();
}

<h2>Ustaw wymagania dla każdej zmiany</h2>

<form asp-action="Generate" method="post">
    <div class="form-group">
        <label for="MorningCount">Liczba osób na zmianie porannej (06:00–14:00)</label>
        <select asp-for="MorningCount" class="form-control"
                asp-items="@(new SelectList(countOptions))">
        </select>
    </div>
    <div class="form-group">
        <label for="AfternoonCount">Liczba osób na zmianie popołudniowej (14:00–22:00)</label>
        <select asp-for="AfternoonCount" class="form-control"
                asp-items="@(new SelectList(countOptions))">
        </select>
    </div>
    <div class="form-group">
        <label for="NightCount">Liczba osób na zmianie nocnej (22:00–06:00)</label>
        <select asp-for="NightCount" class="form-control"
                asp-items="@(new SelectList(countOptions))">
        </select>
    </div>
    <div class="form-group">
        <label for="EmployeeCount">Łączna liczba pracowników</label>
        <input asp-for="EmployeeCount" class="form-control" type="number" min="1" value="9"/>
    </div>
    <div class="form-group">
        <label for="StartDate">Data początkowa</label>
        <input asp-for="StartDate" class="form-control" type="date" />
    </div>
    <div class="form-group">
        <label for="EndDate">Data końcowa</label>
        <input asp-for="EndDate" class="form-control" type="date" />
    </div>


    <button type="submit" class="btn btn-primary mt-3">Generuj harmonogram</button>
</form>
