@{
    ViewData["Title"] = "ShiftSchedulerMVC";
}

<div class="text-center">
    <h1 class="display-4">ShiftSchedulerMVC</h1>
    <p>Aplikacja wspierająca proces tworzenia grafików czasu pracy z wykorzystaniem AI w zakładach pracy.</p>
</div>
