@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ShiftSchedulerMVC</h1>
    <p>Aplikacja wspierająca proces tworzenia grafików czasu pracy z wykorzystaniem AI w zakładach pracy.</p>
    <h2><a class="nav-link text-dark" asp-area="" asp-controller="Schedule" asp-action="Index">Generuj</a></h2>
</div>
