@model ShiftSchedulerMVC.Models.EditUserViewModel

@{
    ViewData["Title"] = "Edytuj użytkownika";
}

<h2>Edytuj użytkownika</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label asp-for="UserName"></label>
        <input asp-for="UserName" class="form-control" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="FirstName"></label>
        <input asp-for="FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="LastName"></label>
        <input asp-for="LastName" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Position"></label>
        <input asp-for="Position" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="Role"></label>
        <select asp-for="Role" class="form-control" asp-items="@(new SelectList(ViewBag.Roles))">
            <option disabled selected>-- wybierz rolę --</option>
        </select>
    </div>

    <div class="form-group">
        <label for="ManagerId">Menedżer</label>
        <select asp-for="ManagerId" class="form-control" asp-items="ViewBag.Managers">
            <option value="">-- Brak --</option>
        </select>
    </div>


    <button type="submit" class="btn btn-primary mt-2">Zapisz zmiany</button>
</form>
